.navbar {
    background-color: #550526e1;
    font-family: 'Red Rose', cursive;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #E0E0E0 !important;
    min-width: 200px !important;
}

body{
    background-color: #a107027a;
    /* background-color: #ffffff; */
    font-family: "Montserrat";
    color: black;
}

/*Beginning of overview*/

#overview_header {
    position: relative;
    top: 50px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.case_holder {
    position: relative;
    top: 100px;
    font-family: 'Gill Sans', sans-serif;
    background-color: #e26c6a;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.3);
}

.content_case {
    position: relative;
    top: -10px;
    font-family: 'Gill Sans', sans-serif;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#number {
    /* 73.4 M */
    position: relative;
    top: -10px;

    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:bolder;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #000000;
}
/*
#casesword {
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;


    color: #F0E6E6;
};
*/
/*End of overview*/

.table{
  position: relative;                   /*I have added positioning for the table containter*/
  top: 150px;                           /*  so it doesn't collide with the total and overview parts.*/
  background-color: #550526;
  width: 100%;
  border: 15px;
  padding: 20px;
  margin: 20px;
}

.inside_table{
  background-color: lightgrey;
  width: 100%;
  padding: 50px;
}

.caret-off::before {
    display: none !important;
}

.caret-off::after {
    display: none !important;
}

form label {
    font-weight: bold;
}


.form-upload {
    display: flex;
}

@media only screen and (max-width: 726px) {
    .shrink {
        font-size: 50px !important;
    }
    .card {
        width: 80% !important;
        margin: 0 auto;
    }
}

.btn{
    background-color: #F2C14E !important;
    border-color: #bd9333 !important;
}

.btn-reset {
    background-color: #368F8B !important;
    border-color:#207a76   !important;
}

.total{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.card{
    /* font-size: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E26C69;
    border-radius: 0px;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.fa{
    font-size: 30px;
    margin: 10px;
}

.num-cases{
    font-weight: 800;
    margin: 0px;
}

.case-type{
    font-family: "Tienne";
    color: white;
    font-size: 14px;
}